.post {
  margin-bottom: 25px;
  padding-bottom: 25px;
  max-width: 640px;
  border-bottom: 1px solid var(--shadow);
}

.blogHeader {
  margin: 0;
}

.blogHeader a {
  color: var(--fg);
  box-shadow: none;
  text-decoration: none;
}

.blogHeader a:hover {
  color: var(--blue);
}

.excerpt {
  margin: 0;
}

.date a {
  margin: 0;
  color: var(--fgSecondary);
  font-weight: 500;
}