:root {
  --bg: #ffffff;
  --fg: rgba(0, 0, 0, 0.75);
  --fgSecondary: rgba(0, 0, 0, 0.5);
  --blue: rgb(65, 132, 243);
}

html {
  overflow-y: visible;
  background: var(--bg);
  margin: 0;
  padding: 50px 0;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  background: var(--bg);
  color: var(--fg);
  font-family: 'Roboto';
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400;
}

p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

b,
strong {
  font-weight: 500;
}