:root {
  --bg: #1d1f21;
  --fg: #b2b2b2;
  --fgSecondary: #a89984;
  --fgHeader: #ddd;
  --blue: #6a9fb5;
  --shadow: rgba(255, 255, 255, 0.2)
}

html {
  overflow-y: visible;
  background: var(--bg);
  margin: 0;
  padding-bottom: 30px;
  -moz-osx-font-smoothing: grayscale;
}

body {
  box-sizing: border-box;
  background: var(--bg);
  color: var(--fg);
  font-family: 'Poppins';
  font-size: 16px;
  line-height: 1.625rem;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 600;
  letter-spacing: -0.1rem;
  color: var(--fgHeader);
}

b,
strong {
  font-weight: 600;
  color: var(--fgHeader);

}

small {
  color: var(--fgSecondary);
}