.container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title,
.title a {
  font-size: 25px;
  line-height: 28px;
  margin: 0;
  box-shadow: none;
  text-decoration: none;
  color: var(--fg);
}

.description {
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: -1px;
  color: var(--fgSecondary);

}

.menu {
  padding: 0;
  margin: 0;
  line-height: 44px;
}

.menuLink {
  margin: 0;
  padding: 0;
}

.menu a,
.menuDesktop a {
  color: var(--fg);
  box-shadow: none;
  text-decoration: none;
  padding-right: 10px;
}

.menu a:hover,
.menuDesktop a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.burger {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
}

.burger span {
  width: 25px;
  height: 2px;
  transition: all 0.1s linear;
  transform-origin: 1px;
  background: var(--fg);
}

.hamburgerOpen span:first-child {
  transform: rotate(45deg);
}

.hamburgerOpen span:nth-child(2) {
  opacity: 0;
}

.hamburgerOpen span:nth-child(3) {
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}

.titleDesktop {
  float: left;
}

.menuDesktop {
  float: right;
  color: var(--fg);
  box-shadow: none;
  text-decoration: none;
  padding-left: 10px;
}