.header {
  width: 100%;
  background: var(--bg);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu {
  float: right;
  color: var(--fgHeader);
  box-shadow: none;
  text-decoration: none;
  display: flex;
}

.menu a {
  color: var(--textLink);
  box-shadow: none;
  text-decoration: none;
}

.menu a:hover {
  color: var(--hr);
}