.container {
  background: var(--bg);
  min-height: 100vh;
}

.menuBar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.menuLinks {
  display: flex;
  margin: 0 auto;
}

.menuText {
  margin: 0;
  line-height: 50px;
  color: var(--textNormal);
}

.menuLink {
  box-shadow: none;
  text-decoration: none;
  color: var(--textLink);
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 0 1rem;
  min-height: calc(100vh - 50px - 2rem);
  box-sizing: border-box;
}