.menu {
  width: 100px;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.menuLinks {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.menuLinks a {
  color: var(--fg);
  box-shadow: none;
  text-decoration: none;
}

.menuText {
  margin-bottom: 0.4rem;
}